.footer {
    margin-top: 40px;
}

#post-tags {
    margin-top: 20px;
}

#prev-next {
    margin-top: 10px;
}

pre {
    background-color: #f0f0f0;
}

.center {
    margin: 10px auto;
    display: block;
}

#app input {
    width: 200px;
    box-shadow: none;
    border: solid 1px #ddd;
    -webkit-box-shadow: none;
    font-size: 13px;
}
